<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinxin.gmall.manage.mapper.SkuSaleAttrValueMapper">
    <select  id ="selectSkuSaleAttrValueListBySpu" parameterType="long"  resultMap="skuSaleAttrValueMap">
        select sku.id skuId, ssav.id ssavId, ssav.sale_attr_value_id,ssav.sale_attr_value_name
        from sku_info sku
          , sku_sale_attr_value ssav
        where sku.id = ssav.sku_id
        and sku.spu_id = #{spuId}
        order by ssav.sku_id,ssav.id
     </select>

    <resultMap id="skuSaleAttrValueMap" type="com.xinxin.gmall.bean.SkuInfo" autoMapping="true">
        <result property="id" column="skuId" ></result>
        <collection property="skuSaleAttrValueList" ofType="com.xinxin.gmall.bean.SkuSaleAttrValue" autoMapping="true">
            <result property="id" column="ssavId"></result>
        </collection>
    </resultMap>


</mapper>